body{
  font-family: -apple-system, BlinkMacSystemFont;
  margin:0;
  background:#0f172a;
  color:white;
}

header{
  text-align:center;
  padding:20px;
  font-size:22px;
  font-weight:bold;
}

.search-box{
  display:flex;
  gap:10px;
  justify-content:center;
  padding:20px;
}

input,select,button{
  padding:10px;
  border-radius:8px;
  border:none;
}

button{
  background:#2563eb;
  color:white;
  cursor:pointer;
}

.metrics{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:10px;
  padding:20px;
}

.card{
  background:#1e293b;
  padding:20px;
  text-align:center;
  border-radius:12px;
  font-size:18px;
}

.buy{color:#22c55e}
.stop{color:#ef4444}
.target{color:#facc15}

#chart{
  height:650px;
  margin:20px;
}

.ai-box{
  background:#111827;
  padding:20px;
  margin:20px;
  border-radius:12px;
  line-height:1.7;
}

.ad{
  background:#222;
  height:90px;
  text-align:center;
  line-height:90px;
  color:#999;
  margin:20px;
}
