body{
  font-family: Arial;
  background:#0e1117;
  color:white;
  margin:0;
}

header{
  text-align:center;
  padding:30px;
}

.container{
  max-width:1200px;
  margin:auto;
  padding:20px;
}

.card{
  background:#1c2128;
  padding:20px;
  border-radius:12px;
  margin-bottom:20px;
}

input,select,button{
  padding:10px;
  margin:5px;
  border-radius:8px;
  border:none;
}

button{
  background:#00c853;
  color:white;
  cursor:pointer;
}

.grid{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:15px;
}

.metric{
  background:#1c2128;
  padding:20px;
  border-radius:12px;
  text-align:center;
  font-size:18px;
}

#chart{
  height:650px;
}
